.icon-bag{
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0%;
    width: 22px;
    height: 23px;
    background: no-repeat;
    background-image: url('../images/bag_normal.png');
}

.icon-bag:hover{
    background-image: url('../images/bag_hover.png');
}

.icon-bag:active{
    background-image: url('../images/bag_active.png');
}