.buttons{
    justify-content: space-between;
    margin-top: 3%;
}

.checkbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.radiobutton{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
